@font-face{
  font-family: IranSans;
  src: url(./resources/fonts/IranSans/IRANSans-web.woff)
}
*{
  font-family: "IranSans";

}
img{
  pointer-events: none;
  user-select: none;
  /* user-drag: none;  */
user-select: none;
-webkit-user-drag: none
}
.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexS{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexSa{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block{
  margin: 0 2.5px;
  padding: 0 2.5px;
  height: inherit;
}
.rel{
  position: relative;
}